@import './custom.css';
.destination__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: left;   
    
  }
.banner{
    min-height: 80vh;
    width: 100%;
    display: block;
    align-items: center;
    background: url("../assets/images/3.png");
    background-size: cover;
    background-position: center center;
    padding:0 10px 0 10px;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 991px) {
.banner{
  min-height: 300px !important;
  padding: 40;
  margin-bottom: 0;
  
}
}
@media screen and (max-width: 767px) {

  .banner{
    min-height: 200px !important;
    padding: 20;
    margin-bottom: 0;
    
  }
}